<!-- Navigation launch file: loads mapping and move_base -->
<launch>
  <arg name="model" default="burger" doc="Turtlebot3 model type [burger, waffle, waffle_pi]" />
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />

  <!-- launch mapping node -->
  <node name="mapping" pkg="gmapping" type="slam_gmapping" output="screen" required="true" >
    <param name="scan" value="scan" />
  </node>

  <!-- launch move_base node (navigation) -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" required="true" >
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>

  <!-- launch our navigation node -->
  <node name="navigation_node" pkg="navigation" type="navigation_node" output="screen" required="true" />

</launch>